 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f6f1e7;
}
header {
  border-block-end: 1px #000 double;
}
.container {
  width: 910px;
  margin: 20px auto;
}
.a-wrapper {
  display: flex;
  justify-content: space-between;
}
.p {
  opacity: 0.5;
}
.li {
  list-style: none;
  font-size: 20px;
  letter-spacing: 1px;
}
.li:hover {
  cursor: pointer;
  color: #a3311f;;
  text-decoration: underline;
}
.ul {
  display: flex;
  margin-left: 235px;
  gap: 20px;
}
.a {
  text-decoration: none;
  color: black;
}
.b {
  color: #a3311f;
  text-decoration: underline;
  cursor: pointer;
}
.h-a {
  font-size: 50px;
  letter-spacing: 2px;
}
/* neeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeext seeeeeeeeeeeeeeeeeeeeeeeeeeeection!!!!!!!!!!!!!!!!! */
.div-b{
  margin-top: 20px;
}
.p-a{
  color: #a3311f;
}
.h-s{
  width: 50px;
  padding-block-end: 20px;
  border-bottom: 3px #a3311f solid;
}
.h-b{
  font-size: 20px;
  letter-spacing: 1px;
}
.h-e{
  font-size: 30px;
  letter-spacing: 1px;
}
.images{
  width: 100%;
  height: 400px;
}
.list{
  margin-left: 28px;
  color: #a3311f;
}
.c{
  color: #a3311f;
}
.wrapper{
  display: flex;
  gap: 20px;
}
.img-a{
  height: 300px;
  width: 450px;
}
.d-wrapper{
  display: flex;
}
.c-b{
  color: #000;
}
.opacity{
  opacity: 0.5;
}
.c{
  padding-block-end: 60px;
  border-block-end: solid 1px rgba(0, 0, 0, 0.5);
}
.c-wrapper {
  margin-top: 35px;
}